# The proper term is pseudo_replica_mode, but we use this compatibility alias
# to make the statement usable on server versions 8.0.24 and older.
/*!50530 SET @@SESSION.PSEUDO_SLAVE_MODE=1*/;
/*!50003 SET @OLD_COMPLETION_TYPE=@@COMPLETION_TYPE,COMPLETION_TYPE=0*/;
DELIMITER /*!*/;
# at 4
#241208 18:28:05 server id 1  end_log_pos 126 CRC32 0x81717cd0 	Start: binlog v 4, server v 8.0.30 created 241208 18:28:05 at startup
# Warning: this binlog is either in use or was not closed properly.
ROLLBACK/*!*/;
BINLOG '
tXRVZw8BAAAAegAAAH4AAAABAAQAOC4wLjMwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAC1dFVnEwANAAgAAAAABAAEAAAAYgAEGggAAAAICAgCAAAACgoKKioAEjQA
CigAAdB8cYE=
'/*!*/;
# at 126
#241208 18:28:05 server id 1  end_log_pos 157 CRC32 0xf901c30c 	Previous-GTIDs
# [empty]
# at 157
#241208 19:03:51 server id 1  end_log_pos 236 CRC32 0x6a19dc33 	Anonymous_GTID	last_committed=0	sequence_number=1	rbr_only=no	original_committed_timestamp=1733655831459140	immediate_commit_timestamp=1733655831459140	transaction_length=258
# original_commit_timestamp=1733655831459140 (2024-12-08 19:03:51.459140 Malay Peninsula Standard Time)
# immediate_commit_timestamp=1733655831459140 (2024-12-08 19:03:51.459140 Malay Peninsula Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1733655831459140*//*!*/;
/*!80014 SET @@session.original_server_version=80030*//*!*/;
/*!80014 SET @@session.immediate_server_version=80030*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 236
#241208 19:03:51 server id 1  end_log_pos 415 CRC32 0x4c14ebb1 	Query	thread_id=8	exec_time=0	error_code=0	Xid = 217
use `careerconnect`/*!*/;
SET TIMESTAMP=1733655831/*!*/;
SET @@session.pseudo_thread_id=8/*!*/;
SET @@session.foreign_key_checks=1, @@session.sql_auto_is_null=0, @@session.unique_checks=1, @@session.autocommit=1/*!*/;
SET @@session.sql_mode=1168113696/*!*/;
SET @@session.auto_increment_increment=1, @@session.auto_increment_offset=1/*!*/;
/*!\C utf8mb3 *//*!*/;
SET @@session.character_set_client=33,@@session.collation_connection=33,@@session.collation_server=255/*!*/;
SET @@session.time_zone='SYSTEM'/*!*/;
SET @@session.lc_time_names=0/*!*/;
SET @@session.collation_database=DEFAULT/*!*/;
/*!80011 SET @@session.default_collation_for_utf8mb4=255*//*!*/;
/*!80013 SET @@session.sql_require_primary_key=0*//*!*/;
ALTER TABLE `selia`

MODIFY `student_id` BIGINT UNSIGNED NOT NULL
/*!*/;
# at 415
#241208 19:04:08 server id 1  end_log_pos 494 CRC32 0xc29c66e5 	Anonymous_GTID	last_committed=1	sequence_number=2	rbr_only=no	original_committed_timestamp=1733655849022521	immediate_commit_timestamp=1733655849022521	transaction_length=259
# original_commit_timestamp=1733655849022521 (2024-12-08 19:04:09.022521 Malay Peninsula Standard Time)
# immediate_commit_timestamp=1733655849022521 (2024-12-08 19:04:09.022521 Malay Peninsula Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1733655849022521*//*!*/;
/*!80014 SET @@session.original_server_version=80030*//*!*/;
/*!80014 SET @@session.immediate_server_version=80030*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 494
#241208 19:04:08 server id 1  end_log_pos 674 CRC32 0xd5a3a32f 	Query	thread_id=8	exec_time=1	error_code=0	Xid = 230
SET TIMESTAMP=1733655848/*!*/;
/*!80013 SET @@session.sql_require_primary_key=0*//*!*/;
ALTER TABLE `terima`

MODIFY `student_id` BIGINT UNSIGNED NOT NULL
/*!*/;
# at 674
#241208 19:06:20 server id 1  end_log_pos 753 CRC32 0x65c32733 	Anonymous_GTID	last_committed=2	sequence_number=3	rbr_only=yes	original_committed_timestamp=1733655980742886	immediate_commit_timestamp=1733655980742886	transaction_length=936
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1733655980742886 (2024-12-08 19:06:20.742886 Malay Peninsula Standard Time)
# immediate_commit_timestamp=1733655980742886 (2024-12-08 19:06:20.742886 Malay Peninsula Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1733655980742886*//*!*/;
/*!80014 SET @@session.original_server_version=80030*//*!*/;
/*!80014 SET @@session.immediate_server_version=80030*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 753
#241208 19:06:20 server id 1  end_log_pos 848 CRC32 0xcb40a401 	Query	thread_id=8	exec_time=0	error_code=0
SET TIMESTAMP=1733655980/*!*/;
BEGIN
/*!*/;
# at 848
#241208 19:06:20 server id 1  end_log_pos 991 CRC32 0x046193bd 	Table_map: `careerconnect`.`users` mapped to number 89
# at 991
#241208 19:06:20 server id 1  end_log_pos 1579 CRC32 0x598f435d 	Update_rows: table id 89 flags: STMT_END_F

BINLOG '
rH1VZxMBAAAAjwAAAN8DAAAAAFkAAAAAAAMADWNhcmVlcmNvbm5lY3QABXVzZXJzAB4IAQ8PDw8P
Dw8PDw8PDw8PDw8PDQ8PDw8RCg8REREw/ANQAPwD/AP8A/wD/AP8A/wD/AP8A/wD/AP8A/wD/AP8
A/wD/AP8A/wDAJABAAAAzP//PgEBoAIB4L2TYQQ=
rH1VZx8BAAAATAIAACsGAAAAAFkAAAAAAAEAAgAe//////////8E4P8OAgAAAAAAAAACAAoAQWRt
aW4gQW1pcg8AQWRtaW5AZ21haWwuY29tPAAkMnkkMTIkcmNoRTRSZWtJQ3BZQzg3MUpuejdDTzBP
VnMvLkZiM2RBdGtwT0JXQjM3TjUyS3h6cHNvVkMKADAxMDI4NzAwNDkQAFRhbWFuIFBlcm1haXN1
cmkJAFNoYWggQWxhbQgAU2VsYW5nb3IsAENTMjMwIC0gQmFjaGVsb3Igb2YgQ29tcHV0ZXIgU2Np
ZW5jZSAoSG9ucy4pOABLb2xlaiBQZW5nYWppYW4gUGVuZ2tvbXB1dGVyYW4sIEluZm9ybWF0aWsg
ZGFuIE1hdGVtYXRpa2cP0Y5nD2EOZzLHWgDg/w4CAAAAAAAAAAIAAAAKAEFkbWluIEFtaXIPAEFk
bWluQGdtYWlsLmNvbTwAJDJ5JDEyJHJjaEU0UmVrSUNwWUM4NzFKbno3Q08wT1ZzLy5GYjNkQXRr
cE9CV0IzN041Mkt4enBzb1ZDCgAwMTAyODcwMDQ5EABUYW1hbiBQZXJtYWlzdXJpCQBTaGFoIEFs
YW0IAFNlbGFuZ29yLABDUzIzMCAtIEJhY2hlbG9yIG9mIENvbXB1dGVyIFNjaWVuY2UgKEhvbnMu
KTgAS29sZWogUGVuZ2FqaWFuIFBlbmdrb21wdXRlcmFuLCBJbmZvcm1hdGlrIGRhbiBNYXRlbWF0
aWtnD9GOZw9hDmcyx1pdQ49Z
'/*!*/;
# at 1579
#241208 19:06:20 server id 1  end_log_pos 1610 CRC32 0xbec6d860 	Xid = 247
COMMIT/*!*/;
# at 1610
#241208 19:08:57 server id 1  end_log_pos 1689 CRC32 0x5f7115bf 	Anonymous_GTID	last_committed=3	sequence_number=4	rbr_only=yes	original_committed_timestamp=1733656137076177	immediate_commit_timestamp=1733656137076177	transaction_length=936
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1733656137076177 (2024-12-08 19:08:57.076177 Malay Peninsula Standard Time)
# immediate_commit_timestamp=1733656137076177 (2024-12-08 19:08:57.076177 Malay Peninsula Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1733656137076177*//*!*/;
/*!80014 SET @@session.original_server_version=80030*//*!*/;
/*!80014 SET @@session.immediate_server_version=80030*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 1689
#241208 19:08:57 server id 1  end_log_pos 1784 CRC32 0x3f68a3f4 	Query	thread_id=8	exec_time=0	error_code=0
SET TIMESTAMP=1733656137/*!*/;
BEGIN
/*!*/;
# at 1784
#241208 19:08:57 server id 1  end_log_pos 1927 CRC32 0xa6f5b4a1 	Table_map: `careerconnect`.`users` mapped to number 89
# at 1927
#241208 19:08:57 server id 1  end_log_pos 2515 CRC32 0x77990a66 	Update_rows: table id 89 flags: STMT_END_F

BINLOG '
SX5VZxMBAAAAjwAAAIcHAAAAAFkAAAAAAAMADWNhcmVlcmNvbm5lY3QABXVzZXJzAB4IAQ8PDw8P
Dw8PDw8PDw8PDw8PDQ8PDw8RCg8REREw/ANQAPwD/AP8A/wD/AP8A/wD/AP8A/wD/AP8A/wD/AP8
A/wD/AP8A/wDAJABAAAAzP//PgEBoAIB4KG09aY=
SX5VZx8BAAAATAIAANMJAAAAAFkAAAAAAAEAAgAe//////////8A4P8OAgAAAAAAAAACAAAACgBB
ZG1pbiBBbWlyDwBBZG1pbkBnbWFpbC5jb208ACQyeSQxMiRyY2hFNFJla0lDcFlDODcxSm56N0NP
ME9Wcy8uRmIzZEF0a3BPQldCMzdONTJLeHpwc29WQwoAMDEwMjg3MDA0ORAAVGFtYW4gUGVybWFp
c3VyaQkAU2hhaCBBbGFtCABTZWxhbmdvciwAQ1MyMzAgLSBCYWNoZWxvciBvZiBDb21wdXRlciBT
Y2llbmNlIChIb25zLik4AEtvbGVqIFBlbmdhamlhbiBQZW5na29tcHV0ZXJhbiwgSW5mb3JtYXRp
ayBkYW4gTWF0ZW1hdGlrZw/RjmcPYQ5nMsdaBOD/DgIAAAAAAAAAAgAKAEFkbWluIEFtaXIPAEFk
bWluQGdtYWlsLmNvbTwAJDJ5JDEyJHJjaEU0UmVrSUNwWUM4NzFKbno3Q08wT1ZzLy5GYjNkQXRr
cE9CV0IzN041Mkt4enBzb1ZDCgAwMTAyODcwMDQ5EABUYW1hbiBQZXJtYWlzdXJpCQBTaGFoIEFs
YW0IAFNlbGFuZ29yLABDUzIzMCAtIEJhY2hlbG9yIG9mIENvbXB1dGVyIFNjaWVuY2UgKEhvbnMu
KTgAS29sZWogUGVuZ2FqaWFuIFBlbmdrb21wdXRlcmFuLCBJbmZvcm1hdGlrIGRhbiBNYXRlbWF0
aWtnD9GOZw9hDmcyx1pmCpl3
'/*!*/;
# at 2515
#241208 19:08:57 server id 1  end_log_pos 2546 CRC32 0x2c4993a8 	Xid = 255
COMMIT/*!*/;
# at 2546
#241208 19:11:38 server id 1  end_log_pos 2625 CRC32 0x58a91240 	Anonymous_GTID	last_committed=4	sequence_number=5	rbr_only=no	original_committed_timestamp=1733656298247313	immediate_commit_timestamp=1733656298247313	transaction_length=259
# original_commit_timestamp=1733656298247313 (2024-12-08 19:11:38.247313 Malay Peninsula Standard Time)
# immediate_commit_timestamp=1733656298247313 (2024-12-08 19:11:38.247313 Malay Peninsula Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1733656298247313*//*!*/;
/*!80014 SET @@session.original_server_version=80030*//*!*/;
/*!80014 SET @@session.immediate_server_version=80030*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 2625
#241208 19:11:38 server id 1  end_log_pos 2805 CRC32 0x31747360 	Query	thread_id=8	exec_time=0	error_code=0	Xid = 310
SET TIMESTAMP=1733656298/*!*/;
/*!80013 SET @@session.sql_require_primary_key=0*//*!*/;
ALTER TABLE `mohon2`

MODIFY `student_id` BIGINT UNSIGNED NOT NULL
/*!*/;
# at 2805
#241208 19:11:47 server id 1  end_log_pos 2882 CRC32 0x783537a0 	Anonymous_GTID	last_committed=5	sequence_number=6	rbr_only=no	original_committed_timestamp=1733656307353265	immediate_commit_timestamp=1733656307353265	transaction_length=249
# original_commit_timestamp=1733656307353265 (2024-12-08 19:11:47.353265 Malay Peninsula Standard Time)
# immediate_commit_timestamp=1733656307353265 (2024-12-08 19:11:47.353265 Malay Peninsula Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1733656307353265*//*!*/;
/*!80014 SET @@session.original_server_version=80030*//*!*/;
/*!80014 SET @@session.immediate_server_version=80030*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 2882
#241208 19:11:47 server id 1  end_log_pos 3054 CRC32 0xb4caf74a 	Query	thread_id=8	exec_time=0	error_code=0	Xid = 319
SET TIMESTAMP=1733656307/*!*/;
/*!80013 SET @@session.sql_require_primary_key=0*//*!*/;
ALTER TABLE `mohon2`

MODIFY `student_id` BIGINT UNSIGNED NOT NULL
/*!*/;
# at 3054
#241208 19:11:59 server id 1  end_log_pos 3133 CRC32 0x11aa6b13 	Anonymous_GTID	last_committed=6	sequence_number=7	rbr_only=no	original_committed_timestamp=1733656319515447	immediate_commit_timestamp=1733656319515447	transaction_length=258
# original_commit_timestamp=1733656319515447 (2024-12-08 19:11:59.515447 Malay Peninsula Standard Time)
# immediate_commit_timestamp=1733656319515447 (2024-12-08 19:11:59.515447 Malay Peninsula Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1733656319515447*//*!*/;
/*!80014 SET @@session.original_server_version=80030*//*!*/;
/*!80014 SET @@session.immediate_server_version=80030*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 3133
#241208 19:11:59 server id 1  end_log_pos 3312 CRC32 0x3328a4af 	Query	thread_id=8	exec_time=0	error_code=0	Xid = 328
SET TIMESTAMP=1733656319/*!*/;
/*!80013 SET @@session.sql_require_primary_key=0*//*!*/;
ALTER TABLE `mohon`

MODIFY `student_id` BIGINT UNSIGNED NOT NULL
/*!*/;
# at 3312
#241208 19:12:14 server id 1  end_log_pos 3391 CRC32 0x8817e004 	Anonymous_GTID	last_committed=7	sequence_number=8	rbr_only=no	original_committed_timestamp=1733656334290520	immediate_commit_timestamp=1733656334290520	transaction_length=258
# original_commit_timestamp=1733656334290520 (2024-12-08 19:12:14.290520 Malay Peninsula Standard Time)
# immediate_commit_timestamp=1733656334290520 (2024-12-08 19:12:14.290520 Malay Peninsula Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1733656334290520*//*!*/;
/*!80014 SET @@session.original_server_version=80030*//*!*/;
/*!80014 SET @@session.immediate_server_version=80030*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 3391
#241208 19:12:14 server id 1  end_log_pos 3570 CRC32 0x7abad8f5 	Query	thread_id=8	exec_time=0	error_code=0	Xid = 345
SET TIMESTAMP=1733656334/*!*/;
/*!80013 SET @@session.sql_require_primary_key=0*//*!*/;
ALTER TABLE `balas`

MODIFY `student_id` BIGINT UNSIGNED NOT NULL
/*!*/;
# at 3570
#241208 19:17:05 server id 1  end_log_pos 3649 CRC32 0x1bccc263 	Anonymous_GTID	last_committed=8	sequence_number=9	rbr_only=no	original_committed_timestamp=1733656625548257	immediate_commit_timestamp=1733656625548257	transaction_length=253
# original_commit_timestamp=1733656625548257 (2024-12-08 19:17:05.548257 Malay Peninsula Standard Time)
# immediate_commit_timestamp=1733656625548257 (2024-12-08 19:17:05.548257 Malay Peninsula Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1733656625548257*//*!*/;
/*!80014 SET @@session.original_server_version=80030*//*!*/;
/*!80014 SET @@session.immediate_server_version=80030*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 3649
#241208 19:17:05 server id 1  end_log_pos 3823 CRC32 0x5c245980 	Query	thread_id=8	exec_time=0	error_code=0	Xid = 396
SET TIMESTAMP=1733656625/*!*/;
/*!80013 SET @@session.sql_require_primary_key=0*//*!*/;
ALTER TABLE `users` MODIFY `student_id` BIGINT UNSIGNED NULL
/*!*/;
# at 3823
#241208 19:17:58 server id 1  end_log_pos 3902 CRC32 0xfb9008ee 	Anonymous_GTID	last_committed=9	sequence_number=10	rbr_only=yes	original_committed_timestamp=1733656678967539	immediate_commit_timestamp=1733656678967539	transaction_length=3500
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1733656678967539 (2024-12-08 19:17:58.967539 Malay Peninsula Standard Time)
# immediate_commit_timestamp=1733656678967539 (2024-12-08 19:17:58.967539 Malay Peninsula Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1733656678967539*//*!*/;
/*!80014 SET @@session.original_server_version=80030*//*!*/;
/*!80014 SET @@session.immediate_server_version=80030*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 3902
#241208 19:17:58 server id 1  end_log_pos 3988 CRC32 0x74801643 	Query	thread_id=8	exec_time=0	error_code=0
SET TIMESTAMP=1733656678/*!*/;
BEGIN
/*!*/;
# at 3988
#241208 19:17:58 server id 1  end_log_pos 4129 CRC32 0xe66eb4e4 	Table_map: `careerconnect`.`users` mapped to number 109
# at 4129
#241208 19:17:58 server id 1  end_log_pos 7292 CRC32 0xe130b643 	Delete_rows: table id 109 flags: STMT_END_F

BINLOG '
ZoBVZxMBAAAAjQAAACEQAAAAAG0AAAAAAAMADWNhcmVlcmNvbm5lY3QABXVzZXJzAB4IAQgPDw8P
Dw8PDw8PDw8PDw8PDQ8PDw8RCg8REREuUAD8A/wD/AP8A/wD/AP8A/wD/AP8A/wD/AP8A/wD/AP8
A/wD/AP8AwCQAQAAAMz//z4BAbACAeDktG7m
ZoBVZyABAAAAWwwAAHwcAAAAAG0AAAAAAAEAAgAe/////wTg/w4CAAAAAAAAAAIACgBBZG1pbiBB
bWlyDwBBZG1pbkBnbWFpbC5jb208ACQyeSQxMiRyY2hFNFJla0lDcFlDODcxSm56N0NPME9Wcy8u
RmIzZEF0a3BPQldCMzdONTJLeHpwc29WQwoAMDEwMjg3MDA0ORAAVGFtYW4gUGVybWFpc3VyaQkA
U2hhaCBBbGFtCABTZWxhbmdvciwAQ1MyMzAgLSBCYWNoZWxvciBvZiBDb21wdXRlciBTY2llbmNl
IChIb25zLik4AEtvbGVqIFBlbmdhamlhbiBQZW5na29tcHV0ZXJhbiwgSW5mb3JtYXRpayBkYW4g
TWF0ZW1hdGlrZw/RjmcPYQ5nMsdaBLD3DgMAAAAAAAAAAwALAEFsdW1uaSBBbWlyEABBbHVtbmlA
Z21haWwuY29tPAAkMnkkMTIkSlBBVW5uUFE5V0p4S0FSUXRIMFhYLjVVeGYzaGRFR1FYRG02Uk5S
WXJRMk9idFczR0F5MnEKADAxMDI4NzAwNDkQAFRhbWFuIEhhc2hpbXVkaW4FAEphc2luBwBNYWxh
Y2NhTgBDUzI1NSAtIEJhY2hlbG9yIG9mIENvbXB1dGVyIFNjaWVuY2UgKEhvbnMuKSBEYXRhIENv
bW11bmljYXRpb24gYW5kIE5ldHdvcmtpbmcOAFNpciBBaG1hZCBBbWFkfGcP0Y9nD2EPZw9qZwSQ
/w4EAAAAAAAAAAEADQBQZWxhamFyIElxbWFsFgBTdHVkZW50SXFtYWxAZ21haWwuY29tPAAkMnkk
MTIkRHBKZnJIQXRrVmp3NWRMa1RZcTg1LjVkWkc4ZWc3akhtNGk2eHJvakZQRlBwdzAzQ0RPUk8K
ADAxMDI4NzAwNDkKAFRhbWFuIE1hanUFAEphc2luBwBNYWxhY2NhUgBDUzI2NiAtIEJhY2hlbG9y
IG9mIEluZm9ybWF0aW9uIFRlY2hub2xvZ3kgKEhvbnMuKSBJbmZvcm1hdGlvbiBTeXN0ZW1zIEVu
Z2luZWVyaW5nAQA2DwBTaXIgRmFra2FoIEZ1enpnMiPiZzGzYmcyrnMEkP0OBQAAAAAAAAABAAwA
UGVsYWphciBBZGliFQBTdHVkZW50QWRpYkBnbWFpbC5jb208ACQyeSQxMiRQQXJ3R0NIN1d2MlNs
aXVSbUVCSkMudFIvV0o4T09ITGZKZHZUb3Rna255emY2c1RzQk1CSwoAMDEwMjg3MDA0OQwAUGVr
YW4gTGFidWFuBgBMYWJ1YW4GAExhYnVhbkEAQ1MyNTEgLSBCYWNoZWxvciBvZiBDb21wdXRlciBT
Y2llbmNlIChIb25zLikgTmV0Y2VudHJpYyBDb21wdXRpbmcBADUOAFNpciBGYXp6IEFobWFkRABz
dG9yYWdlL2NvdmVyX2xldHRlcnMvUG9zdGVyIFRlbXBsYXRlX0Nhc2UgU3R1ZHkgRU5UNjAwXzIx
MTEyMDI0LnBkZmcyI+JnMbNiZz8/vQSQ/w4GAAAAAAAAAAEADABTdHVkZW50IEFraWYVAFN0dWRl
bnRBa2lmQGdtYWlsLmNvbTwAJDJ5JDEyJEtWbE1jeERuRzBMMTc0UDhnMHd5b3VBU0g1cjVGV2Jy
Zkt5dlowUTJxaEUxUlBpcmVsckc2CgAwMTAyODcwMDQ5EQBKYWxhbiBMZWtvciBLYXJpbQYARHVu
Z3VuCgBUZXJlbmdnYW51TgBDUzI1NSAtIEJhY2hlbG9yIG9mIENvbXB1dGVyIFNjaWVuY2UgKEhv
bnMuKSBEYXRhIENvbW11bmljYXRpb24gYW5kIE5ldHdvcmtpbmcBADYOAE1kbSBGYXp1cmEgU2hh
ZzIj4mcxs2JnMqJeBJD/DgcAAAAAAAAAAQANAFN0dWRlbnQgWmlrcnkWAFN0dWRlbnRaaWtyeUBn
bWFpbC5jb208ACQyeSQxMiQ4NjkwWmtwTFRZSE5UdS5kNjczTEV1TnpLMHlvckVESHduRjJqak9v
TkJvMWFkSHNCTS5uUwoAMDEwMjg3MDA0OQwAUGFzaXIgR2VkdW5nCABTZXJlbWJhbg8ATmVnZXJp
IFNlbWJpbGFuUgBDUzI2NiAtIEJhY2hlbG9yIG9mIEluZm9ybWF0aW9uIFRlY2hub2xvZ3kgKEhv
bnMuKSBJbmZvcm1hdGlvbiBTeXN0ZW1zIEVuZ2luZWVyaW5nAQA2DwBTaXIgSGFsaXphIEhhbmln
MiPiZzGzYmcyoqAE7/8OCAAAAAAAAAACAAsAQWRtaW4gSXFtYWwUAEFkbWluSXFtYWxAZ21haWwu
Y29tPAAkMnkkMTIkREcvd0UxNmpYVm5HUzUyaG1aLjBpLlg3YjRDcUhpLlhVYWRrSlFpODJlaDAx
NFJSRTF0UlcKADAxMDI4NzAwNDk4AEtvbGVqIFBlbmdhamlhbiBQZW5na29tcHV0ZXJhbiwgSW5m
b3JtYXRpayBkYW4gTWF0ZW1hdGlrZzIj4mcxs2JnMsjEBO//DgkAAAAAAAAAAgAKAEFkbWluIEFk
aWITAEFkbWluQWRpYkBnbWFpbC5jb208ACQyeSQxMiRQVGVzaE1sT2JaaEZjVEVzY3VYaC51bnZK
YUxwaHVMUm9VYTRLVXdWY2EzUm54aGRrNDNsUwoAMDEwMjg3MDA0OSUARmFrdWx0aSBQZXJsYWRh
bmdhbiBkYW4gQWdyb3Rla25vbG9naWcyI+JnMbNiZzLI1AT//w4KAAAAAAAAAAIACgBBZG1pbiBB
a2lmEwBBZG1pbkFraWZAZ21haWwuY29tPAAkMnkkMTIkQ3J1Vlhjb3RGV0k3ZTJMZS5iODk0ZWZu
eElxY09pSUhKMnlWY1FkSUhFMThMemoyeG5nby4KADAxMDI4NzAwNDlnMiPjZzGzY2cxs2ME//8O
CwAAAAAAAAACAAsAQWRtaW4gWmlrcnkUAEFkbWluWmlrcnlAZ21haWwuY29tPAAkMnkkMTIkd291
UVB0aTRTdU11TzRsV2JxMDQzdUR0YTVwM3RRSUpaT3poQXZ4eDJuRUJwbndETWs3a3EKADAxMDI4
NzAwNDlnMiPjZzGzY2cxs2MEsPcODAAAAAAAAAADAAwAQWx1bW5pIElxbWFsFQBBbHVtbmlJcW1h
bEBnbWFpbC5jb208ACQyeSQxMiRzWmRMOEtzaFlRVDNkWm5aSGlIUHFPVWNXa2dMNEY0dnk2ak1l
czEuMFNCYU9EWTdYZFNENgoAMDEwMjg3MDA0OQsASmFsYW4gS29jZW4HAEt1Y2hpbmcHAFNhcmF3
YWssAENTMjMwIC0gQmFjaGVsb3Igb2YgQ29tcHV0ZXIgU2NpZW5jZSAoSG9ucy4pDgBNZG0gRmF6
dXJhIFNoYXxnMiPjZzGzY2cyuIMEsPcODQAAAAAAAAADAAsAQWx1bW5pIEFkaWIUAEFsdW1uaUFk
aWJAZ21haWwuY29tPAAkMnkkMTIkRzZrQS5mTFY3YWx1U2kzcHh1VWxqT1B3SmNndm9HNVFmV2Y5
ZnpuLmYuLmNqc2g5SmFVVnUKADAxMDI4NzAwNDkRAFRhbWFuIFVpVE0gS3VkcmF0BABBcmF1BgBQ
ZXJsaXNSAENTMjY2IC0gQmFjaGVsb3Igb2YgSW5mb3JtYXRpb24gVGVjaG5vbG9neSAoSG9ucy4p
IEluZm9ybWF0aW9uIFN5c3RlbXMgRW5naW5lZXJpbmcPAE1kbSBIYWxpemEgSGFuaXxnMiPjZzGz
Y2cyuYgEv/8ODgAAAAAAAAADAAsAQWx1bW5pIEFraWYUAEFsdW1uaUFraWZAZ21haWwuY29tPAAk
MnkkMTIkeXF2VWRPeUFOLkhMUkdLRVd2dTZZT2t0RGp3WWVyOHVnY3NJNHVuUWRVNlFSYjRaRy8v
NkcKADAxMDI4NzAwNDkOAFNpciBNYXIgWmlkYW5lZzIj42cxs2NnMbNjBL//Dg8AAAAAAAAAAwAM
AEFsdW1uaSBaaWtyeRUAQWx1bW5pWmlrcnlAZ21haWwuY29tPAAkMnkkMTIkSjNZUGxoYjc1SDc4
aHprbGZveXEvLnZ4V05IblA3cEtrYUttd2tCVVFyanppdDd3djZqUHEKADAxMDI4NzAwNDkOAFNp
ciBGYXp6IEFobWFkZzIj5Gcxs2RnMbNkQ7Yw4Q==
'/*!*/;
# at 7292
#241208 19:17:58 server id 1  end_log_pos 7323 CRC32 0x774234f4 	Xid = 407
COMMIT/*!*/;
SET @@SESSION.GTID_NEXT= 'AUTOMATIC' /* added by mysqlbinlog */ /*!*/;
DELIMITER ;
# End of log file
/*!50003 SET COMPLETION_TYPE=@OLD_COMPLETION_TYPE*/;
/*!50530 SET @@SESSION.PSEUDO_SLAVE_MODE=0*/;
